* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:montserrat, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* background-image:https://www.google.com/url?sa=i&url=https%3A%2F%2Fen.wikipedia.org%2Fwiki%2FElectric_Loco_Shed%2C_Erode&psig=AOvVaw3xx4B0One7zI1m1qJkNXVZ&ust=1728527587724000&source=images&cd=vfe&opi=89978449&ved=0CBQQjRxqFwoTCIj-ipuhgIkDFQAAAAAdAAAAABAE.jpg; */
  background-size: cover;
  background-position: center;
}

.image-container {
  perspective: 1000px; /* Adds depth perspective for the 3D effect */
}

/* Styling for the rotating image */
.rotate-image {
  width: 200px; /* Set the size of the image */
  height: auto;
  transform-style: preserve-3d;
  animation: rotateY 2.5s infinite linear;
}

/* Keyframes for the Y-axis rotation */
@keyframes rotateY {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.overlay {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(188, 208, 224, 0.6);
}

.content {
  position: relative;
  z-index: 1;
  text-align: center;
  color: #fff;
}

h1 {
  font-size: 3rem;
  color: black;
  margin-bottom: 0.5rem;
}

h2 {
  font-size: 30px;
  color: black;
  margin-bottom: 0.5rem;
}

button {
  padding: 0.8rem 2rem;
  font-size: 1rem;
  color: #fff;
  background-color: #0066cc;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #004d99;
}

.footer {
  background-color: #f8f9fa; /* Light background for the footer */
  padding: 20px; /* Padding around the footer content */
  text-align: center; /* Center the text */
   /* Optional border for separation */
}

.footer h3 {
  font-size: 18px; /* Size of the text */
  color: #000000; /* Darker color for the heading */
  margin: 0; /* Remove default margins */
  font-style: italic;
}

.footer .name {
  font-weight: bold; /* Bold the name */
  color: #000000; /* Optional: Make the name blue */
  font-style: italic;
}

.footer h3 span.name:hover {
  color: #0b0b0b; /* Change the name color on hover */
  cursor: pointer; /* Optional: Change cursor on hover */
}
